*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

.DS_Store

# Ignore everything in these directories
synced_folders/config/*
synced_folders/src/*
# except these empty files!
!synced_folders/config/.gitkeep
!synced_folders/src/.gitkeep
